@import url("/centralized-testing-training/header/style.css");
@import url("/centralized-testing-training/footer/style.css");

body {
    background: var(--md-sys-color-background);
    min-height: calc(100vh - 16px);
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

section {
    width: 800px;
    background: var(--md-sys-color-surface-variant);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 2px var(--md-sys-color-shadow);

    > * {
        color: var(--md-sys-color-on-surface);
    }

    > h2, > h3 {
        margin-right: 10px;
        margin-left: 10px;
        text-align: center;
    }

    > div {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        width: fit-content;
        margin: 10px 20px;

        > input {
            display: none;
        }

        > label, > a {
            text-decoration: none;
            margin: 5px;
            color: var(--md-sys-color-on-surface);
            outline: var(--md-sys-color-on-surface) 1px solid;
            padding: 15px 10px;
            width: 100%;
            cursor: pointer;
            border-radius: 10px;
            transition: all 400ms;
        }

        > label:hover, > a:hover {
            background: var(--md-sys-color-tertiary-container);
            /*color: var(--md-sys-color-on-tertiary-container);*/
            box-shadow: 1px 1px 8px var(--md-sys-color-shadow);
            /*outline: none;*/
        }

        > label::before {
            position: relative;
            right: 10px;
        }

    }

    > button {
        margin: 10px;
        width: 150px;
        height: 30px;
    }
}


.right {
    background: var(--md-sys-color-tertiary-container);
    /*color: var(--md-sys-color-on-tertiary-container);*/
    box-shadow: 1px 1px 18px var(--md-sys-color-shadow);
}

.selected {
    background: var(--md-sys-color-primary-container);
    /*color: var(--md-sys-color-on-primary-container);*/
    /*box-shadow: 1px 1px 8px var(--md-sys-color-shadow);*/
    outline-width: 2px;
}

@media (max-width: 850px) {
    section {
        width: 95%;

        > div {
            width: 90%;
        }
    }
}

.arrow_button {
    /*border: #00444f 1px solid;*/
    border: none;
    border-radius: 30px;
    /*box-shadow: 2px 2px 4px black;*/
    background: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    transition: all 400ms;
    cursor: pointer;

    > span {
        color: var(--md-sys-color-on-primary);
        transition: all 400ms;
        position: relative;
    }

    > span::after {
        color: var(--md-sys-color-on-primary);
        content: '\00bb';
        position: absolute;
        transition: all 400ms;
        opacity: 0;
        top: 0;
        right: -20px;
    }
}

.arrow_button:hover {
    background: var(--md-sys-color-tertiary);
    color: var(--md-sys-color-on-tertiary);

    > span {
        padding-right: 25px;
    }

    > span::after {
        color: var(--md-sys-color-on-tertiary);
        opacity: 1;
        right: 0;
    }
}

#question_section {
    display: none;
}

#question_img {
    display: none;
}