@import "/header/style.css";

body {
    background: var(--md-sys-color-background);
}

main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

section {
    width: 800px;
    background: var(--md-sys-color-surface);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border-radius: 20px;
    /*box-shadow: 1px 1px 8px 2px var(--md-sys-color-shadow);*/

    > * {
        color: var(--md-sys-color-on-surface);
    }

    > h2, > h3 {
        margin-right: 10px;
        margin-left: 10px;
        text-align: center;
    }

    > div {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        width: fit-content;
        margin: 10px 20px;

        > input {
            display: none;
        }

        > label, > a {
            text-decoration: none;
            margin: 10px;
            background: var(--md-sys-color-primary-container);
            color: var(--md-sys-color-on-primary-container);
            padding: 5px 10px;
            width: 100%;
            cursor: pointer;
            border-radius: 10px;
        }

        > label:hover, > a:hover {
            background: var(--md-sys-color-tertiary-container);
            color: var(--md-sys-color-on-tertiary-container);
        }

        > label::before {
            position: relative;
            right: 10px;
        }

    }

    > button {
        margin: 10px;
        width: 150px;
        height: 30px;
    }
}

.selected {
    background: #a5eeff;
    color: #001f25;
}

.right {
    background: #77ff61;
    color: #002200;
}

@media (max-width: 850px) {
    section {
        width: 95%;
        > div {
            width: 90%;
        }
    }
}

.arrow_button {
    border: #00444f 1px solid;
    border-radius: 30px;
    box-shadow: 2px 2px 4px black;
    background: #006877;
    color: white;
    transition: all 400ms;
    cursor: pointer;

    > span {
        color: white;
        transition: all 400ms;
        position: relative;
    }

    > span::after {
        color: white;
        content: '\00bb';
        position: absolute;
        transition: all 400ms;
        opacity: 0;
        top: 0;
        right: -20px;
    }
}

.arrow_button:hover {
    background: #026e00;

    > span {
        padding-right: 25px;
    }

    > span::after {
        opacity: 1;
        right: 0;
    }
}

#question_section {
    display: none;
}

#question_img {
    display: none;
}