main {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-around;
}

#question_menu_section {
    order: -1;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: var(--md-sys-color-secondary-container);
    box-shadow: none;
}

#question_menu_div {
    margin: 0 10px 10px;
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    justify-content: center;

    > input {
        position: absolute;
        visibility: hidden;
    }

    > input:checked + label {
        outline: var(--md-sys-color-on-surface) 2px solid;
    }
}

.menu_element {
    margin: 2px;
    min-width: 3rem;
    min-height: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--md-sys-color-secondary-container);
    border: var(--md-sys-color-outline) 1px solid;
    color: var(--md-sys-color-on-secondary-container);
    transition: background-color 400ms, color 400ms, box-shadow 400ms;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-wrap: break-word;
}

.menu_element:hover {
    box-shadow: 1px 1px 8px var(--md-sys-color-shadow);
    background-color: var(--md-sys-color-primary-container);
}

.right_menu_element {
    background-color: var(--md-sys-color-tertiary-container);
    color: var(--md-sys-color-on-tertiary-container);
}

.not_right_menu_element {
    background-color: var(--md-sys-color-error-container);
    color: var(--md-sys-color-on-error-container);
}