footer {
    display: grid;
    grid: fit-content(100%) / repeat(2, 1fr);
    background-color: var(--md-sys-color-surface);
    box-shadow: 0 -2px 10px var(--md-sys-color-shadow);
    margin: 0;
    height: 100%;
    width: calc(100% + 12px);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    position: relative;
    left: -6px;
    right: -6px;
    bottom: -8px;
    justify-items: center;
    padding: 5px 0;
    row-gap: 10px;
    column-gap: 10px;

    > :nth-child(2) {
        text-align: center;

        & * {
            color: var(--md-sys-color-on-surface-variant);
            text-decoration: none;
            font-style: initial;
        }

        & small {
            color: var(--md-sys-color-secondary);
        }

        & a {
            transition: color 400ms;
        }

        & a:hover {
            color: var(--md-sys-color-tertiary);
        }
    }

    > :nth-child(1) {
        text-align: center;
        font-style: italic;
        display: flex;
        flex-flow: column nowrap;
        justify-content: start;
        align-content: start;
        align-items: center;
        height: 100%;

        > div {
            margin-top: 15px;
            border-radius: 15px;

            > div {
                font-style: initial;
                display: flex;
                flex-flow: row nowrap;

                > label {
                    width: 150px;
                    padding: 5px;
                    margin: 0;
                    border: var(--md-sys-color-on-surface-variant) 1px solid;
                    cursor: pointer;
                }

                > input:checked + label {
                    border-color: var(--md-sys-color-secondary);
                    color: var(--md-sys-color-on-secondary-container);
                    background-color: var(--md-sys-color-secondary-container);
                }

                > label:hover {
                    border-color: var(--md-sys-color-tertiary);
                    color: var(--md-sys-color-on-tertiary-container);
                    background-color: var(--md-sys-color-tertiary-container);
                }

                > input {
                    position: absolute;
                    visibility: hidden;
                }
            }

            > :first-child > label {
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
            }

            > :last-child > label {
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
            }
        }
    }
}

@media (max-width: 450px) {
    footer {
        grid: repeat(2, fit-content(100%)) / 1fr;
    }
}