footer {
    display: grid;
    grid: fit-content(100%) / repeat(3, 1fr);
    background-color: var(--md-sys-color-secondary-container);
    box-shadow: 0 -2px 10px var(--md-sys-color-shadow);
    height: 100%;
    width: calc(100% + 16px);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    position: relative;
    left: -8px;
    right: -8px;
    bottom: -8px;
    justify-items: center;
    padding: 5px 0;
    row-gap: 10px;
    column-gap: 10px;
    margin: 20px 0 0;

    > :nth-child(1) {
        text-align: center;
        font-style: italic;
        display: flex;
        flex-flow: column nowrap;
        justify-content: start;
        align-content: start;
        align-items: center;
        height: 100%;

        > div {
            margin-top: 15px;
            border-radius: 15px;

            > div {
                font-style: initial;
                display: flex;
                flex-flow: row nowrap;

                > label {
                    width: 150px;
                    padding: 5px;
                    margin: 0;
                    border: var(--md-sys-color-on-surface-variant) 1px solid;
                    cursor: pointer;
                }

                > input:checked + label {
                    outline: var(--md-sys-color-primary) 1px solid;
                    border-color: var(--md-sys-color-primary);
                    color: var(--md-sys-color-on-primary-container);
                    background-color: var(--md-sys-color-primary-container);
                }

                > label:hover {
                    border-color: var(--md-sys-color-tertiary);
                    color: var(--md-sys-color-on-tertiary-container);
                    background-color: var(--md-sys-color-tertiary-container);
                }

                > input {
                    position: absolute;
                    visibility: hidden;
                }
            }

            > :first-child > label {
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
            }

            > :last-child > label {
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
            }
        }
    }

    > :nth-child(2) {
        display: block;
        text-align: center;
        font-style: italic;

        > div {
            width: 100%;
            display: grid;
            grid: repeat(2, 50px) / repeat(4, 1fr);
            justify-content: center;
            justify-items: center;
            align-items: center;

            > div {
                width: fit-content;
                height: fit-content;

                > input {
                    position: absolute;
                    visibility: hidden;
                }

                > label {
                    outline: var(--md-sys-color-on-surface) 1px solid;
                    display: block;
                    width: 25px;
                    height: 25px;
                    border-radius: 20px;
                    cursor: pointer;
                    transition: box-shadow 400ms;
                }

                > input:checked + label {
                    box-shadow: 1px 1px 10px var(--md-sys-color-shadow);
                    outline-width: 2px;
                }
            }

            > :nth-child(1) > label {
                background-color: #984061;
            }
            > :nth-child(2) > label {
                background-color: #ee0029;
            }
            > :nth-child(3) > label {
                background-color: #b46200;
            }
            > :nth-child(4) > label {
                background-color: #eece00;
            }
            > :nth-child(5) > label {
                background-color: #3ac200;
            }
            > :nth-child(6) > label {
                background-color: #0088a1;
            }
            > :nth-child(7) > label {
                background-color: #0087f4;
            }
            > :nth-child(8) > label {
                background-color: #a462ff;
            }
        }
    }

    > :nth-child(3) {
        text-align: center;

        & * {
            color: var(--md-sys-color-on-surface-variant);
            text-decoration: none;
            font-style: initial;
        }

        & small {
            color: var(--md-sys-color-secondary);
        }

        & a {
            transition: color 400ms;
        }

        & a:hover {
            color: var(--md-sys-color-tertiary);
        }
    }
}

@media (max-width: 700px) {
    footer {
        grid: repeat(3, fit-content(100%)) / 1fr;
    }
}