:root {
    --md-source: #eece00;
    /* primary */
    --md-ref-palette-primary0: #000000;
    --md-ref-palette-primary10: #211b00;
    --md-ref-palette-primary20: #393000;
    --md-ref-palette-primary25: #463b00;
    --md-ref-palette-primary30: #524600;
    --md-ref-palette-primary35: #605200;
    --md-ref-palette-primary40: #6d5e00;
    --md-ref-palette-primary50: #8a7600;
    --md-ref-palette-primary60: #a79000;
    --md-ref-palette-primary70: #c5aa00;
    --md-ref-palette-primary80: #e4c500;
    --md-ref-palette-primary90: #ffe252;
    --md-ref-palette-primary95: #fff1ba;
    --md-ref-palette-primary98: #fff9ed;
    --md-ref-palette-primary99: #fffbff;
    --md-ref-palette-primary100: #ffffff;
    /* secondary */
    --md-ref-palette-secondary0: #000000;
    --md-ref-palette-secondary10: #201b04;
    --md-ref-palette-secondary20: #363016;
    --md-ref-palette-secondary25: #423b20;
    --md-ref-palette-secondary30: #4d472b;
    --md-ref-palette-secondary35: #595235;
    --md-ref-palette-secondary40: #665e40;
    --md-ref-palette-secondary50: #7f7757;
    --md-ref-palette-secondary60: #99916f;
    --md-ref-palette-secondary70: #b5ab88;
    --md-ref-palette-secondary80: #d1c6a2;
    --md-ref-palette-secondary90: #ede2bc;
    --md-ref-palette-secondary95: #fcf1ca;
    --md-ref-palette-secondary98: #fff9ed;
    --md-ref-palette-secondary99: #fffbff;
    --md-ref-palette-secondary100: #ffffff;
    /* tertiary */
    --md-ref-palette-tertiary0: #000000;
    --md-ref-palette-tertiary10: #002110;
    --md-ref-palette-tertiary20: #143723;
    --md-ref-palette-tertiary25: #20422e;
    --md-ref-palette-tertiary30: #2b4e38;
    --md-ref-palette-tertiary35: #375a44;
    --md-ref-palette-tertiary40: #43664f;
    --md-ref-palette-tertiary50: #5b7f67;
    --md-ref-palette-tertiary60: #749980;
    --md-ref-palette-tertiary70: #8eb499;
    --md-ref-palette-tertiary80: #a9d0b4;
    --md-ref-palette-tertiary90: #c4eccf;
    --md-ref-palette-tertiary95: #d2fadd;
    --md-ref-palette-tertiary98: #e9ffec;
    --md-ref-palette-tertiary99: #f5fff4;
    --md-ref-palette-tertiary100: #ffffff;
    /* neutral */
    --md-ref-palette-neutral0: #000000;
    --md-ref-palette-neutral10: #1d1b16;
    --md-ref-palette-neutral20: #32302a;
    --md-ref-palette-neutral25: #3e3b35;
    --md-ref-palette-neutral30: #494740;
    --md-ref-palette-neutral35: #55524b;
    --md-ref-palette-neutral40: #615e57;
    --md-ref-palette-neutral50: #7a776f;
    --md-ref-palette-neutral60: #949088;
    --md-ref-palette-neutral70: #afaba2;
    --md-ref-palette-neutral80: #cbc6bd;
    --md-ref-palette-neutral90: #e7e2d9;
    --md-ref-palette-neutral95: #f6f0e7;
    --md-ref-palette-neutral98: #fef9ef;
    --md-ref-palette-neutral99: #fffbff;
    --md-ref-palette-neutral100: #ffffff;
    /* neutral-variant */
    --md-ref-palette-neutral-variant0: #000000;
    --md-ref-palette-neutral-variant10: #1e1c10;
    --md-ref-palette-neutral-variant20: #343024;
    --md-ref-palette-neutral-variant25: #3f3b2e;
    --md-ref-palette-neutral-variant30: #4b4739;
    --md-ref-palette-neutral-variant35: #565244;
    --md-ref-palette-neutral-variant40: #635e50;
    --md-ref-palette-neutral-variant50: #7c7768;
    --md-ref-palette-neutral-variant60: #969080;
    --md-ref-palette-neutral-variant70: #b1ab9a;
    --md-ref-palette-neutral-variant80: #cdc6b4;
    --md-ref-palette-neutral-variant90: #e9e2d0;
    --md-ref-palette-neutral-variant95: #f8f0dd;
    --md-ref-palette-neutral-variant98: #fff9ed;
    --md-ref-palette-neutral-variant99: #fffbff;
    --md-ref-palette-neutral-variant100: #ffffff;
    /* error */
    --md-ref-palette-error0: #000000;
    --md-ref-palette-error10: #410002;
    --md-ref-palette-error20: #690005;
    --md-ref-palette-error25: #7e0007;
    --md-ref-palette-error30: #93000a;
    --md-ref-palette-error35: #a80710;
    --md-ref-palette-error40: #ba1a1a;
    --md-ref-palette-error50: #de3730;
    --md-ref-palette-error60: #ff5449;
    --md-ref-palette-error70: #ff897d;
    --md-ref-palette-error80: #ffb4ab;
    --md-ref-palette-error90: #ffdad6;
    --md-ref-palette-error95: #ffedea;
    --md-ref-palette-error98: #fff8f7;
    --md-ref-palette-error99: #fffbff;
    --md-ref-palette-error100: #ffffff;
    /* light */
    --md-sys-color-primary-light: #6d5e00;
    --md-sys-color-on-primary-light: #ffffff;
    --md-sys-color-primary-container-light: #ffe252;
    --md-sys-color-on-primary-container-light: #211b00;
    --md-sys-color-secondary-light: #665e40;
    --md-sys-color-on-secondary-light: #ffffff;
    --md-sys-color-secondary-container-light: #ede2bc;
    --md-sys-color-on-secondary-container-light: #201b04;
    --md-sys-color-tertiary-light: #43664f;
    --md-sys-color-on-tertiary-light: #ffffff;
    --md-sys-color-tertiary-container-light: #c4eccf;
    --md-sys-color-on-tertiary-container-light: #002110;
    --md-sys-color-error-light: #ba1a1a;
    --md-sys-color-error-container-light: #ffdad6;
    --md-sys-color-on-error-light: #ffffff;
    --md-sys-color-on-error-container-light: #410002;
    --md-sys-color-background-light: #fffbff;
    --md-sys-color-on-background-light: #1d1b16;
    --md-sys-color-surface-light: #fffbff;
    --md-sys-color-on-surface-light: #1d1b16;
    --md-sys-color-surface-variant-light: #e9e2d0;
    --md-sys-color-on-surface-variant-light: #4b4739;
    --md-sys-color-outline-light: #7c7768;
    --md-sys-color-inverse-on-surface-light: #f6f0e7;
    --md-sys-color-inverse-surface-light: #32302a;
    --md-sys-color-inverse-primary-light: #e4c500;
    --md-sys-color-shadow-light: #000000;
    --md-sys-color-surface-tint-light: #6d5e00;
    --md-sys-color-outline-variant-light: #cdc6b4;
    --md-sys-color-scrim-light: #000000;
    /* dark */
    --md-sys-color-primary-dark: #e4c500;
    --md-sys-color-on-primary-dark: #393000;
    --md-sys-color-primary-container-dark: #524600;
    --md-sys-color-on-primary-container-dark: #ffe252;
    --md-sys-color-secondary-dark: #d1c6a2;
    --md-sys-color-on-secondary-dark: #363016;
    --md-sys-color-secondary-container-dark: #4d472b;
    --md-sys-color-on-secondary-container-dark: #ede2bc;
    --md-sys-color-tertiary-dark: #a9d0b4;
    --md-sys-color-on-tertiary-dark: #143723;
    --md-sys-color-tertiary-container-dark: #2b4e38;
    --md-sys-color-on-tertiary-container-dark: #c4eccf;
    --md-sys-color-error-dark: #ffb4ab;
    --md-sys-color-error-container-dark: #93000a;
    --md-sys-color-on-error-dark: #690005;
    --md-sys-color-on-error-container-dark: #ffdad6;
    --md-sys-color-background-dark: #1d1b16;
    --md-sys-color-on-background-dark: #e7e2d9;
    --md-sys-color-surface-dark: #1d1b16;
    --md-sys-color-on-surface-dark: #e7e2d9;
    --md-sys-color-surface-variant-dark: #4b4739;
    --md-sys-color-on-surface-variant-dark: #cdc6b4;
    --md-sys-color-outline-dark: #969080;
    --md-sys-color-inverse-on-surface-dark: #1d1b16;
    --md-sys-color-inverse-surface-dark: #e7e2d9;
    --md-sys-color-inverse-primary-dark: #6d5e00;
    --md-sys-color-shadow-dark: #000000;
    --md-sys-color-surface-tint-dark: #e4c500;
    --md-sys-color-outline-variant-dark: #4b4739;
    --md-sys-color-scrim-dark: #000000;
}
